# Mongo
MONGO_USER=root
MONGO_PASS=123
ME_USER=admin
ME_PASS=123

# Postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=123
POSTGRES_DB=erp_database

# MinIO
# O usuario deve conter no minimo 4 caracteres e a senha deve conter no minimo 8 caracteres, conforme as regras do MinIO
MINIO_ENDPOINT=http://localhost:9000
MINIO_ROOT_USER=1234
MINIO_ROOT_PASSWORD=12345678
GF_SECURITY_ADMIN_PASSWORD=12345678
DEFAULT_BUCKET=bronze

# Kafka
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_TOPIC=iot-sensors-raw
KAFKA_GROUP_ID=bronze-writer

# Consumer
DEFAULT_FLUSH_SIZE=100
DEFAULT_FLUSH_INTERVAL=30

# Schema Registry
DEFAULT_SCHEMA_REGISTRY_URL=http://localhost:8081