.env
venv
.venv
.terraform/
.terraform.*
*.tfstate
*.tfstate.*
.ruff_cache/
*.__pycache__/

# Credenciais
.env

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/

# IDEs
.vscode/
.idea/
*.swp

# --- Airflow ---
# Logs de execução
infra/airflow/logs/
*.log

# Arquivos de configuração local
infra/airflow/config/airflow.cfg
infra/airflow/config/webserver_config.py

# Banco de dados SQLite local
airflow.db
